{{template "header.html" .}}
<style>
	header{background-color: #fff;height: 40px; padding: 10px; margin-bottom:10px;clear:both;}
	header h1{margin:0px;width:400px; display:inline-block;color:#0088CC;}
	header .btn-group{float:right;}
	header .btn-group ul.dropdown-menu{padding-left:5px;}
	
	section{width:700px;margin:auto;border:1px solid #0088CC;border-radius:5px;display:inline-block;margin-left:10px;}
	.row{margin:0px;
    width: 400px;clear:both;padding:10px;}
	.row .col1,.row .col2{float:left; width:200px;text-align:center;}
	footer{text-align:right;padding:0 10px 10px 0;}
	section header{padding:5px 0px 5px 10px; background-color: #0088CC;}
	.left-nav{width:200px;display:inline-block;text-align:center;float:left;min-height:300px;padding-top:20px;}
	.added_act{width:150px;border:1px solid #0088CC;border-radius:5px;margin:20px auto;}
	.bodymain{margin-top:40px;}
	.bs-example {
margin-left: 0;
margin-right: 0;
background-color: #fff;
border-width: 1px;
border-color: #ddd;
border-radius: 4px 4px 0 0;
box-shadow: none;
}
.bs-example {
position: relative;
padding: 45px 15px 15px;
margin: 0 -15px 15px;
background-color: #fafafa;
box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
border-color: #e5e5e5 #eee #eee;
border-style: solid;
border-width: 1px 0;
}
</style>
<script type="text/javascript">

            window.BlobBuilder = window.MozBlobBuilder || window.WebKitBlobBuilder || window.BlobBuilder;

            function fileSelected() {
                var file = document.getElementById('fileToUpload').files[0];
                if (file) {
                    var fileSize = 0;
                    if (file.size > 1024 * 1024)
                        fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                    else
                        fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

                    //document.getElementById('fileName').innerHTML = 'Name: ' + file.name;
                    //document.getElementById('fileSize').innerHTML = 'Size: ' + fileSize;
                    //document.getElementById('fileType').innerHTML = 'Type: ' + file.type;
                }
            }
            var blob;
     var start;
     var part;
     var chunk;
     var SIZE ;//= blob.size;
     var xhr;
     var BYTES_PER_CHUNK = 1048576;
     var rand = function() {
        return Math.random().toString(36).substr(2); // remove `0.`
        };

    var token = function() {
        return rand() + rand(); // to make it longer
    };

    var _token = token();

    		String.prototype.hashCode = function(){
			    var hash = 0, i, char;
			    if (this.length == 0) return hash;
			    for (i = 0, l = this.length; i < l; i++) {
			        char  = this.charCodeAt(i);
			        hash  = ((hash<<5)-hash)+char;
			        hash |= 0; // Convert to 32bit integer
			    }
			    return hash;
			};

     		function sendRequest() {
	            blob = document.getElementById('fileToUpload').files[0];
	            //const BYTES_PER_CHUNK = 1048; // 1MB chunk sizes.
	            SIZE = blob.size;
	            start = 0;                
	            part = 0;

	            chunk = blob.slice(start, BYTES_PER_CHUNK);
	            uploadFile(chunk,part);
	            start = start + BYTES_PER_CHUNK;
	            part++;  
        	}

			function uploadFile(blobFile,part) {
	            var file = document.getElementById('fileToUpload').files[0];  
	            xhr = new XMLHttpRequest();
	            xhr.upload.addEventListener("progress", uploadProgress, false);
	            xhr.addEventListener("load", uploadComplete, false);
	            xhr.addEventListener("error", uploadFailed, false);
	            xhr.addEventListener("abort", uploadCanceled, false);
	            xhr.open("POST", "http://localhost:8082/upload?"+"file="+blob.name+"&num=" + part+ "&token="+_token);
	           
	            //xhr.setRequestHeader('Cache-Control','no-cache');
	            var fd = new FormData();
	            fd.append("TheFile", file);
	            //fd.append("file", file.name);
	            //fd.append("num",part);

	            xhr.send(fd);

	            var hcode = file.name.hashCode()
	            $.ajax({
	            	url: "http://localhost:9000/upload/"+hcode,
        			type: "GET",
	            });
	            return;
	        }

            function uploadProgress(evt) {
                if (evt.lengthComputable) {
                    var percentComplete = Math.round(start * 100 / SIZE);
                    document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
                }
                else {
                    document.getElementById('progressNumber').innerHTML = 'unable to compute';
                }
            }

            function uploadComplete(evt) {
            /* This event is raised when the server send back a response */
            blob = document.getElementById('fileToUpload').files[0];
            if( start < SIZE ) {
                chunk = blob.slice(start, start+BYTES_PER_CHUNK);
                uploadFile(chunk,part);
                start = start + BYTES_PER_CHUNK;
                part++;
            }
            else {
            	alluploadDone();
            }
        }

        function alluploadDone() {
            xhr = new XMLHttpRequest();

            //Inform the service with the params
            xhr.open("POST", 
            	"http://localhost:9000/upload/"+_token+"/"+part);
            xhr.send();
        }

        function uploadFailed(evt) {
            alert("There was an error attempting to upload the file.");
        }

        function uploadCanceled(evt) {
            xhr.abort();
            xhr = null;
        }
    </script>
<!--<div class="col-md-9">

	{{range $name, $fid := .user.GetFiles}}
		<p>	{{$name}} {{$fid}} </p>
	{{end}}
</div>-->


<div class="container-fluid bodymain">
	
   <div class="row-fluid">
   <div class="span3">
   <div class="well sidebar-nav">
   <span class="btn-file">
   			<input type="file" name="fileToUpload" id="fileToUpload" onchange="fileSelected();" style="background: #fff;
border: 1px solid #ddd;
font-size: 12px;
margin-bottom: 5px;
padding: 2px;
width: 268px;" />
	</span>
		<button class="btn btn-large btn-primary" type="button" onclick="sendRequest();">Upload Data</button>

		<!--<div class="added_act">
			<p>Added Acount</p>
			<p>abc@dropbox.com</p>
			<p>abc@google.com</p>
			<p>abc@amazon.com</p>
		</div>-->
	</div>
   </div>
   <div class="span9">
		<div class="bs-example">
		    <table class="table table-striped">
			 <thead>
			<tr>
			  <th>Name</th>
			  <th>Service</th>
			  <th>Size[kb]</th>
			  <th>Uploaded On</th>
			  <th>Meta-Data</th>
			  
			</tr>
			</thead>
		  <tbody>
			<tr>
			  <td>file 1</td>
			  <td>amzon</td>
			  <td>50</td>
			  <td>13/9/2013</td>
			  <td>Meta Data</td>
			  
			</tr>
			<tr>
			  <td>file 1</td>
			  <td>amzon</td>
			  <td>50</td>
			  <td>13/9/2013</td>
			  <td>Meta Data</td>
			</tr>
			<tr>
			  <td>file 1</td>
			  <td>amzon</td>
			  <td>50</td>
			  <td>13/9/2013</td>
			  <td>Meta Data</td>
			</tr>
			<tr>
			  <td>file 1</td>
			  <td>amzon</td>
			  <td>50</td>
			  <td>13/9/2013</td>
			  <td>Meta Data</td>
			</tr>
			<tr>
			  <td>file 1</td>
			  <td>amzon</td>
			  <td>50</td>
			  <td>13/9/2013</td>
			  <td>Meta Data</td>
			</tr>
			<tr>
			  <td>file 1</td>
			  <td>amzon</td>
			  <td>50</td>
			  <td>13/9/2013</td>
			  <td>Meta Data</td>
			</tr>
			<tr>
			  <td>file 1</td>
			  <td>amzon</td>
			  <td>50</td>
			  <td>13/9/2013</td>
			  <td>Meta Data</td>
			</tr><tr>
			  <td>file 1</td>
			  <td>amzon</td>
			  <td>50</td>
			  <td>13/9/2013</td>
			  <td>Meta Data</td>
			</tr>
			<tr>
			  <td>file 1</td>
			  <td>amzon</td>
			  <td>50</td>
			  <td>13/9/2013</td>
			  <td>Meta Data</td>
			</tr>
		  </tbody>
</table>
			
			
		</div>
	</div>

	</div>
	</div>

{{template "footer.html" .}}