{{template "header.html" .}}
<style>
	header{background-color: #fff;height: 40px; padding: 10px; margin-bottom:10px;clear:both;}
	header h1{margin:0px;width:400px; display:inline-block;color:#0088CC;}
	header .btn-group{float:right;}
	header .btn-group ul.dropdown-menu{padding-left:5px;}
	
	section{width:700px;margin:auto;border:1px solid #0088CC;border-radius:5px;display:inline-block;margin-left:10px;}
	.row{margin:0px;
    width: 400px;clear:both;padding:10px;}
	.row .col1,.row .col2{float:left; width:200px;text-align:center;}
	footer{text-align:right;padding:0 10px 10px 0;}
	section header{padding:5px 0px 5px 10px; background-color: #0088CC;}
	.left-nav{width:200px;display:inline-block;text-align:center;float:left;min-height:300px;padding-top:20px;}
	.added_act{width:150px;border:1px solid #0088CC;border-radius:5px;margin:20px auto;}
	.bodymain{margin-top:60px;}
	.bs-example {
margin-left: 0;
margin-right: 0;
background-color: #fff;
border-width: 1px;
border-color: #ddd;
border-radius: 4px 4px 0 0;
box-shadow: none;
}
.bs-example {
position: relative;
padding: 45px 15px 15px;
margin: 0 -15px 15px;
border-style: dotted;
border-width: 1px 0;
border:1px dotted #eee;
border-top:none;
}
</style>
<script src="https://apis.google.com/js/client.js?onload=load"></script>
<script type="text/javascript" src="/public/js/FileSaver.js"></script>
<script type="text/javascript">

            window.BlobBuilder = window.MozBlobBuilder || window.WebKitBlobBuilder || window.BlobBuilder;

            function fileSelected() {
                var file = document.getElementById('fileToUpload').files[0];
                if (file) {
                    var fileSize = 0;
                    if (file.size > 1024 * 1024)
                        fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                    else
                        fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
                }
            }
            var blob;
     var start;
     var part;
     var chunk;
     var SIZE ;//= blob.size;
     var xhr;
     var BYTES_PER_CHUNK = 1048576;
     var rand = function() {
        return Math.random().toString(36).substr(2); // remove `0.`
        };

    var token = function() {
        return rand() + rand(); // to make it longer
    };

    var _token = token();

    		String.prototype.hashCode = function(){
			    var hash = 0, i, char;
			    if (this.length == 0) return hash;
			    for (i = 0, l = this.length; i < l; i++) {
			        char  = this.charCodeAt(i);
			        hash  = ((hash<<5)-hash)+char;
			        hash |= 0; // Convert to 32bit integer
			    }
			    return hash;
			};

     		function sendRequest() {
	            blob = document.getElementById('fileToUpload').files[0];
	            //const BYTES_PER_CHUNK = 1048; // 1MB chunk sizes.
	            SIZE = blob.size;
	            start = 0;                
	            part = 0;

	            chunk = blob.slice(start, BYTES_PER_CHUNK);
	            uploadFile(chunk,part);
	            start = start + BYTES_PER_CHUNK;
	            part++;  
        	}

			function uploadFile(blobFile,part) {
	            var file = document.getElementById('fileToUpload').files[0];  
	            xhr = new XMLHttpRequest();
	            xhr.upload.addEventListener("progress", uploadProgress, false);
	            xhr.addEventListener("load", uploadComplete, false);
	            xhr.addEventListener("error", uploadFailed, false);
	            xhr.addEventListener("abort", uploadCanceled, false);
	            xhr.open("POST", "http://localhost:8082/upload?"+"file="+blob.name+"&num=" + part+ "&token="+_token);
	           
	            //xhr.setRequestHeader('Cache-Control','no-cache');
	            var fd = new FormData();
	            fd.append("TheFile", blobFile);
	            fd.append("file", file.name);
	            fd.append("num",part);

	            xhr.send(fd);

	            return;
	        }

            function uploadProgress(evt) {
                if (evt.lengthComputable) {
                    var percentComplete = Math.round(start * 100 / SIZE);
                    document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
                }
                else {
                    document.getElementById('progressNumber').innerHTML = 'unable to compute';
                }
            }

            function uploadComplete(evt) {
            /* This event is raised when the server send back a response */
            blob = document.getElementById('fileToUpload').files[0];
            if( start < SIZE ) {
                chunk = blob.slice(start, start+BYTES_PER_CHUNK);
                uploadFile(chunk,part);
                start = start + BYTES_PER_CHUNK;
                part++;
            }
            else {
            	alluploadDone();
            }
        }

        function alluploadDone() {
            xhr = new XMLHttpRequest();

            //Inform the service with the params
            xhr.open("GET", 
            	"http://localhost:9000/upload/"+blob.name+"/"+_token+"/"+part);
            xhr.send();
        }

        function uploadFailed(evt) {
            alert("There was an error attempting to upload the file.");
        }

        function uploadCanceled(evt) {
            xhr.abort();
            xhr = null;
        }

        function switchTab(i) {
        	if (i == 1) {
        		$('#file_list').show();
        		$('#services_list').hide();
        		$('#tab1').addClass('active');
        		$('#tab2').removeClass('active');
        	} else if (i == 2) {
        		$('#file_list').hide();
        		$('#services_list').show();
        		$('#tab1').removeClass('active');
        		$('#tab2').addClass('active');
        	}
        }
    </script>


	<script>
		var blob2 ;
        var numParts;
        var nextPart;
        var basefilename;
        var baseDir;
        var bytes = new Array();
        var oldBytes;
        var ab2s = "";
        var buf;
        var myDownloadUrls = new Array();
        var downloadArrayJSON = {
                                    "urls": [
                                        "0": "http://localhost:8500/uploads/teopzuvbi1p833dicanwcnnmy292uik9/CrackCode.pdf_0",
                                        "1": "http://localhost:8500/uploads/teopzuvbi1p833dicanwcnnmy292uik9/CrackCode.pdf_1",
                                        "2": "http://localhost:8500/uploads/teopzuvbi1p833dicanwcnnmy292uik9/CrackCode.pdf_2"
                                    ],
                                    "parts": "3",
                                    "filename": "CrackCode.pdf"
                                };

        var file = {
        	"kind": "drive#file",
 			"id": "0B-U8aM_TWuTHWWJsdU5SWjRIUDA",
 			"downloadUrl": "https://doc-04-c1-docs.googleusercontent.com/docs/securesc/ivearmirmg66&e=download&gd=true",
        };

        function downloadGDFile(file, callback) {
		  if (file.downloadUrl) {
		    var accessToken = gapi.auth.getToken().access_token;
		    var xhr = new XMLHttpRequest();
		    xhr.open('GET', file.downloadUrl);
		    xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
		    xhr.onload = function() {
		      callback(xhr.responseText);
		    };
		    xhr.onerror = function() {
		      callback(null);
		    };
		    xhr.send();
		  } else {
		    callback(null);
		  }
		}

        function downloadRequest(fid) {

        	var data1 = {
        			"refresh_token":"1/gNL9MnEM7MJIjl-4EFQkCa8utFz8DY9E2otxYa_t28E" 
        			"client_id":"242859917159-9q0mcad9cuhflb42g7dq5lgl46tccsm6.apps.googleusercontent.com"
        			"grant_type":"refresh_token"
        			"client_secret":"fCmLibbJ-p-28AW3HN1NiC_e"
        	};
        	$.ajax({
        		url: "https://accounts.google.com/o/oauth2/token"
        		type: "POST"
        		data: data1
        		success: function(data, textstats, xhr) {
        			alert(data.access_token)
        		},
        		error: function(xhr, textStatus, errorThrown) {
		            alert('Some error occured in GD access token stuff. Try again!');
		        }
        	});

        	$.ajax({
		        url: "http://localhost:9000/download/"+fid,
		        async: true,
		        dataType: 'json',
		        beforeSend: function() {
		            //$('.rtnMsg').html("<img src=_cssStyleImg_-A-loading.gif>");
		        },
		        type: "GET",
		        cache: false,
		        success: function(data, textStatus, xhr) {
		            //$('.rtnMsg').html(data);
		            //var element = document.getElementById("fileToDownload");
		            basefilename = data.filename;
		            numParts = data.parts;
		            //baseDir = String(document.getElementById("baseDir").value);
		            nextPart = 0;
		            startDownload(0, data.urls);
		        },
		        error: function(xhr, textStatus, errorThrown) {
		            alert('Some error occured. Try again!');
		        }
		    });
        }

        function startDownload(part, urls) {
            var xhr = new XMLHttpRequest();
            var requestUrl = urls[nextPart];
            xhr.open("GET", requestUrl);
             xhr.responseType = "arraybuffer";

            xhr.onload = function () {
                nextPart++;
                if(nextPart == 1) {
                    buf = xhr.response;
                }
                //var part = xhr.response;
                else {
                    var arrayBuffer = xhr.response;
                    var tmp = new Uint8Array( buf.byteLength + arrayBuffer.byteLength );
                    tmp.set( new Uint8Array( buf ), 0 );
                    tmp.set( new Uint8Array( arrayBuffer ), buf.byteLength );
                    buf = tmp.buffer;
                }
                if(nextPart < numParts) {
                    startDownload(nextPart);
                }
                else {
                    var finalArray = new Int8Array(bytes);
                    var arraybuffer = buf;//finalArray.buffer;
                    var dataView = new DataView(arraybuffer);
                    var blob2 = new Blob([dataView]);
                    saveAs(blob2, basefilename);
                }
            };
            xhr.send();
        } 

        function ab2str(buf) {
            return String.fromCharCode.apply(null, new Uint16Array(buf));
        }
        function str2ab(str) {
            var buf = new ArrayBuffer(str.length*2); // 2 bytes for each char
            var bufView = new Uint16Array(buf);
            for (var i=0, strLen=str.length; i<strLen; i++) {
                bufView[i] = str.charCodeAt(i);
            }
            return buf;
        }
	</script>


<div class="container-fluid bodymain">
	
   <div class="row-fluid">
   <div class="span3">
   <div class="well sidebar-nav">
   <span class="btn-file">
   			<input type="file" name="fileToUpload" id="fileToUpload" onchange="fileSelected();" style="background: #fff;
border: 1px solid #ddd;
font-size: 12px;
margin-bottom: 5px;
padding: 2px;
width: 268px;" />
	</span>
		<button class="btn btn-large btn-primary" type="button" onclick="sendRequest();">Upload Data</button>
	</div>
   </div>
   <div class="span9">

   			<ul class="nav nav-tabs">
			  <li id="tab1" class="active"><a href="#" onclick="switchTab(1);">Files</a></li>
			  <li id="tab2"><a href="#" onclick="switchTab(2);">Services</a></li>
			</ul>


		<div class="bs-example" id="file_list">

		    <table class="table table-striped">
			 <thead>
			<tr>
			  <th>Name</th>
			  <th>Service</th>
			  <th>Size[kb]</th>
			  <th>Uploaded On</th>
			  <th>Meta-Data</th>
			  
			</tr>
			</thead>
		  <tbody>
		  	{{range $name, $fid := .user.GetFiles}}
			  	<tr>
				  <td>{{$name}}</td>
				  <td></td>
				  <td></td>
				  <td>15/9/2013</td>
				  <td><button class="btn btn-small btn-primary" type="button" onclick="downloadRequest({{$fid}});">Download</button></td>
				</tr>
			{{end}}
		  </tbody>
			</table>
			
		</div>

		<div class="bs-example" id="services_list">

		</div>
	</div>

	</div>
	</div>

{{template "footer.html" .}}